APP_ENV=         # "dev" | "prod"

PLAYER_NAME=     # имя пользователя на chess.com (регистрозависимо, используется также для 401)
PLAYER_PASSWORD= # пароль для 401 авторизации

DEV_EMAIL=       # email для связи согласно chess.com API
DEV_PASSWORD=    # аналогично для 401 авторизации